body {
  background-color: #5e97d8;
  background-color: black;
}

.Header {
  display: flex;
  flex-direction: row;
  background-color: rgb(145, 194, 236);

  color: black;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  background-image: url(./assets/imgbooks.jpg);

  h1 {
    border-radius: 30px;
  }
}

.MainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 800px) {
    h1 {
      font-size: 15px;
    }
    p {
      font-size: 10px;
    }

    h3,
    h4 {
      font-size: 15px;
    }
  }
}

h1 {
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
}

h3 {
  font-size: 40px;
  color: black;
}

h4 {
  font-size: 40px;
  color: aliceblue;
}

p {
  font-size: 20px;
}
