.BookCard {
  @media screen and (max-width: 800px) {
    width: 300px;
    height: 300px;
  }
  margin: 30px;
  border: 2px solid hwb(0 0% 98%);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 300px;
  background-color: rgb(206, 215, 223);

  &__image {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__details {
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 8px;

    h3 {
      text-align: center;
    }
    h5 {
      text-align: center;
    }

    p {
      text-align: justify;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
    }
  }
}
